<div>
 <div>
   <%= link_to "TutorDash", root_path %>

   <div class="navbar-link">
     <%= link_to "New Lesson", new_lesson_path %>
   </div>

   <div class="navbar-link">
     <%= link_to "New Student", new_student_path %>
   </div>

   <div class="navbar-link">
     <%= link_to "All Lessons", lessons_path %>
   </div>

   <div class="navbar-link">
     <%= link_to "All Students", students_path %>
   </div>

 </div>
</div>